Задание 1 
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [ ]:
word = 'test'
if l%2 == 0:
   print(word[l//2 - 1], word[l//2])
else:
    print(word[l//2])

e s

In [ ]:
word = 'testing'
if l%2 == 0:
   print(word[len(word)//2])
else:
    print(word[l//2])

t

Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [ ]:
text = int(input("Вводите значение: ")) 
a = []
while text != 0:  
    a.append(text)  
    text = int(input("Вводите значение: "))
print(sum(a))

Вводите значение: 1
Вводите значение: 4
Вводите значение: 6
Вводите значение: 0
11

Задание 3 
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [ ]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
        print(f"{company[0]} и {company[1]}")
else:
 
    print("Внимание, кто-то может остаться без пары!")

Идеальная пара:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [ ]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
     print(f"{company[0]} и {company[1]}")
else:
     print("Внимание, кто-то может остаться без пары!")

Внимание, кто-то может остаться без пары!

Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [ ]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for i in countries_temperature:
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32) / 1.8, 1), 'C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C