Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

- оценка 2 и меньше - низкий рейтинг

- оценка 4 и меньше - средний рейтинг

- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

Сразу джойним таблицы

In [ ]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on=["movieId"], how='inner')
pvt = Total.pivot_table(index=['title','movieId'], values = 'rating', aggfunc='mean')
pvt.head()

                                                   rating
title                                   movieId
"Great Performances" Cats (1998)        51372    1.750000
$9.99 (2008)                            74486    3.833333
'Hellboy': The Seeds of Creation (2004) 97757    2.000000
'Neath the Arizona Skies (1934)         70121    0.500000
'Round Midnight (1986)                  26564    2.250000

Сбрасываем индексы

In [ ]:
pvt=pvt.reset_index()

Пишем функцию

In [ ]:
def classification(i):
    if i  <= 2:
        return 'Низкий рейтинг.'
    elif i  <= 4 and i >2:
        return 'Средний рейтинг.'
    elif i  >4.5:
        return 'Высокий рейтинг.'

Ответ

In [ ]:
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

,title,movieId,rating,class
0,"""Great Performances"" Cats (1998)",51372,1.750000,Низкий рейтинг.
1,$9.99 (2008),74486,3.833333,Средний рейтинг.
2,'Hellboy': The Seeds of Creation (2004),97757,2.000000,Низкий рейтинг.
3,'Neath the Arizona Skies (1934),70121,0.500000,Низкий рейтинг.
4,'Round Midnight (1986),26564,2.250000,Средний рейтинг.

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток

In [ ]:
kw = pd.read_csv('keywords.csv')

Пишем функцию

In [ ]:
def key (row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'Не определено'

Проходим через apply

In [ ]:
kw['region'] = kw.apply(key , axis=1)

Смотрим сколько значению получилось

In [ ]:
kw['region'].value_counts()

Не определено     99281
Центр               387
Северо-Запад        238
Дальний Восток       94
Name: region, dtype: int64

In [ ]:
kw.head()

         keyword     shows         region
0             вк  64292779  Не определено
1  одноклассники  63810309  Не определено
2          порно  41747114  Не определено
3           ютуб  39995567  Не определено
4      вконтакте  21014195  Не определено