Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime
from datetime import timedelta

In [ ]:
date_moscow_times = 'Wednesday, October 2, 2002'
date_moscow_times_datetime = datetime.strptime(date_moscow_times, '%A, %B %d, %Y')
date_moscow_times_datetime, date_moscow_times_datetime.weekday()

(datetime.datetime(2002, 10, 2, 0, 0), 2)

In [ ]:
date_guardian = 'Friday, 11.10.13'
date_guardian_datetime = datetime.strptime(date_guardian, '%A, %d.%m.%y')
date_guardian_datetime, date_guardian_datetime.weekday()

(datetime.datetime(2013, 10, 11, 0, 0), 4)

In [ ]:
date_daily_news = 'Thursday, 18 August 1977'
date_daily_news_datetime = datetime.strptime(date_daily_news, '%A, %d %B %Y')
date_daily_news_datetime, date_daily_news_datetime.weekday()

(datetime.datetime(1977, 8, 18, 0, 0), 3)

Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

In [ ]:
def corr_format(stream_list):
    for date in stream_list:
        try:
            corr_format_date = datetime.strptime(date,'%Y-%m-%d')          
        except:
            print(False, 'Некорректная дата:', date)         
        else:
            print(True, 'Дата корректна:', date)

In [ ]:
corr_format(stream)

True Дата корректна: 2018-04-02
False Некорректная дата: 2018-02-29
False Некорректная дата: 2018-19-02

Задание 3

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import date, timedelta
d1 = date(2021, 8, 1)  
d2 = date(2021, 9, 1)  
delta = d2 - d1         
if delta.days<=0:
    print ("Пустой список")
for i in range(delta.days + 1):
    print(d1 + timedelta(i))

2021-08-01
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-07
2021-08-08
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-14
2021-08-15
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-21
2021-08-22
2021-08-23
2021-08-24
2021-08-25
2021-08-26
2021-08-27
2021-08-28
2021-08-29
2021-08-30
2021-08-31
2021-09-01

In [ ]:
def date_rage():
    start_date = input('Введите начальную дату: ')
    end_date = input('Введите конечную дату: ')
    try:
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
    except:
        return list()
    if start_date_dt > end_date_dt:
        return list()
    date_list = []
    current_dt = start_date_dt
    while current_dt <= end_date_dt:
        date_list.append(current_dt.strftime('%Y-%m-%d'))
        current_dt += timedelta(days=1)
    return date_list

In [ ]:
date_rage()

Введите начальную дату: 2021-08-01
Введите конечную дату: 2021-09-01

['2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-08',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-16',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01']